body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #333;
}
header {
  background-color: white;
  color: #004080;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
        img {
            width: 100%;  /* Hace que la imagen ocupe todo el ancho disponible */
            max-width: 1000px;  /* Limita el tamaño máximo de la imagen */
            height: auto;  /* Mantiene la relación de aspecto de la imagen */
            display: block;
            margin: 40px auto;  /* Centra la imagen y agrega espacio en la parte superior e inferior */
            border-radius: 10px; 
        }
header h1 {
  font-family: 'Times New Roman', serif;
  color: #2a4d8d; /* azul más claro como el de la imagen */
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

nav a {
  color: black; 
  text-decoration: none;
  font-weight: bold;
}



main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
}

h2 {
color: black; 
}

form {
  margin-top: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}



button {
  background-color: #004080;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #002c5c;
}

footer {
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}

.footer-top h2 {
  font-family: 'Times New Roman', serif;
  color: #2a4d8d;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: #004080;
  font-weight: bold;
}

.social-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre íconos */
}

.social-icons img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}


.footer-bottom {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #555;
}

.footer-bottom a {
  text-decoration: none;
  color: #555;
}

.footer-bottom p {
  margin: 0.5rem 0;
}


